<h1>Olá {{first_name}}!</h1>
<p>Aqui você encontra todas as informações relacionadas a sua conta, como acompanhar seus últimos pedidos, adicionar
    novos endereços ...</p>

<button id="myInfo">dados</button>
<button id="myOrders">pedidos</button>
<button id="myAddresses">endereços</button>
<button id="myFavs">favoritos</button>